# Azure subscription to use, for the SDP Tools team this typically is SDP Tools
AZ_SUBSCRIPTION="SDP Tools"
# Azure Resource Group to use
AZ_GROUP=sdpExample
# What datacenter to use, typically `northeurope` for us in Norway
AZ_LOCATION=northeurope
# Kubernetes version to use, as of this moment the latest version possible in Azure is 1.11.3
AZ_AKS_VERSION=1.13.10
# Kubernetes cluster name
AZ_AKS_NAME=${AZ_GROUP}K8s
# Number of nodes to use as a starting point for cluster
AZ_AKS_NODES=3
# The size of the VM's acting as cluster nodes. This can not be changed after the cluster is created.
AZ_AKS_NODE_SIZE="Standard_DS4_v2"
# The resource group that should contain DNS Zone
AZ_DNS_GROUP=${AZ_GROUP}Dns
# Azure Service Principal name used for accessing DNS Zone
AZ_DNS_SP_NAME=${AZ_DNS_GROUP}Sp
# DNS Zone to manage 
AZ_DNS_ZONE=sdp.example.com
# Resource group for Azure Container Registry (ACR)
AZ_ACR_GROUP=${AZ_GROUP}Acr
# Name on ACR
AZ_ACR_NAME=${AZ_GROUP}Acr
# What ACR plan to use
AZ_ACR_SKU=basic
# Azure Service Principal name used for accessing ACR
AZ_ACR_SP_NAME=${AZ_ACR_GROUP}Sp
# Backup group
AZ_BACKUP_GROUP=${AZ_GROUP}Backup
# Backup storage account name. Max 24 chars. Lower-case letters only.
AZ_BACKUP_NAME=$(echo $AZ_BACKUP_GROUP | tr '[:upper:]' '[:lower:]')
# Backup container blob name
AZ_BACKUP_CONTAINER_NAME=velero
# Backup service Principal
AZ_BACKUP_SP_NAME=${AZ_BACKUP_GROUP}Sp
# Repository used for GitOps
FLUX_GITOPS_REPO=git@github.com:Equinor/sdp-flux.git
# Branch to be used in GitOps
FLUX_GITOPS_BRANCH=master
# kustomize path for override folder i.e. production for production, development for develop
FLUX_GITOPS_PATH=production
