# Azure subscription to use, for the SDP Tools team this typically is SDP Tools
AZ_SUBSCRIPTION="SDP Tools"
# Environment - should match subdomain, parameter folder, flux branch and flux folder
ENVIRONMENT=nor
# Repository used for GitOps
FLUX_GITOPS_REPO=git@github.com:Equinor/sdp-flux.git

#
# Do not change below
#

# Location
AZ_LOCATION=norwayeast
# Main resource group where aks will be deployed
AZ_GROUP="sdpaks-${ENVIRONMENT}"
# Branch to be used in GitOps
FLUX_GITOPS_BRANCH="$ENVIRONMENT"
# kustomize path for override folder i.e. production for production, development for develop
FLUX_GITOPS_PATH="$ENVIRONMENT"
# Resource group for dns
AZ_DNS_GROUP="$AZ_GROUP-dns"