# Azure subscription to use, for the SDP Tools team this typically is SDP Tools
AZ_SUBSCRIPTION="S942-SDP-Tools"
# Environment - should match subdomain, parameter folder, flux branch and flux folder
ENVIRONMENT=prod
# Prefix - Used for app registrations. Use "dev." for dev environment. Leave blank for prod(xxx.sdpaks.equinor.com)
PREFIX=
# Repository used for GitOps
FLUX_GITOPS_REPO=git@github.com:Equinor/sdp-flux.git
# PSQL details for Gitlabs external storage, only change locally. (blank entries will not work)
PSQL_USERNAME=
PSQL_PASSWORD=

#
# Do not change below
#

# Location
AZ_LOCATION=norwayeast
# Main resource group where aks will be deployed
AZ_GROUP="sdpaks-${ENVIRONMENT}"
# Branch to be used in GitOps
FLUX_GITOPS_BRANCH="$ENVIRONMENT"
# kustomize path for override folder i.e. production for production, development for develop
FLUX_GITOPS_PATH="$ENVIRONMENT"
